$main-color:#21315A;
$body-color:#CCD5EC;
$font-color: #94CE5A;

body{
    background-color: $body-color;
}

.main{
    background-color: $main-color;
    height: 25vh;
    width: auto;   
    padding: 1rem; 
    display:flex;
    align-items: center;
    span{
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        color: $font-color;
    }
}
.logo{
    width: 150px;
}