$main-color:#21315A;
$body-color:#CCD5EC;
$font-color: #94CE5A;

body{
    background-color: $body-color;
    margin:0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header{
    background-color: $main-color;
    padding: 1rem; 
    display:flex;
    flex-direction: row;
    align-items: center;
   
    flex-wrap: wrap;
    span{
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        color: $font-color;
    }

    .logo{
        width: 150px;
    }
}

.footer{
    text-align:center;
    color: $main-color;
    font-size: 1.2rem;
}



@media screen and (max-width:330px){
    .header{
        justify-content: center;
    }
}